*{
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px;
}
.content h1 {
    font-size: 2rem;
    margin: 10px 0px;
}
.content p {
  text-align: justify;
}

img {
    border-radius: 100%;
    margin: 0px 40%;
}
 button {
    background-color: aqua;
    border: 1px solid blue;
    width: 50px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: rgb(0, 0, 0);
}

