* {
  padding: 0;
  margin: 0;
}

.preloader {
  position: fixed;
  background: #000 url(preloader.svg) no-repeat center center;
  height: 100%;
  width: 100%;
}

.disappear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
